body {
    font-family: 'Roboto', sans-serif;
}
.scroll-container2 {
    width: 1500px; 
    border: 3px solid grey; 
    display: grid;
    margin-top: 40px;
    margin-bottom: 75px;
    margin-left: 25px;
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-container {
    width: 1450px; 
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative;
    overflow-x:scroll;
    white-space: nowrap;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.scroll-container3 {
    width: 1450px; 
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative;
    overflow-x:scroll;
    white-space: nowrap;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-container4 {
    width: 1450px; 
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative;
    overflow-x:scroll;
    white-space: nowrap;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.scroll-container5 {
    width: 1450px; 
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative;
    overflow-x:scroll;
    white-space: nowrap;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.scroll-container6 {
    width: 1450px; 
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative;
    overflow-x:scroll;
    white-space: nowrap;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
h1{
    text-align: center;
    font-size: 33px;
}
h2{
    text-align: center;
    font-size: 20px;
}
img {
    width: 250px;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out; 
}
img:hover {
    transform: scale(1.05); 
}
.scroll-element {
    text-align: center;
    display: inline-block;
    width: 275px; 
    margin-right: 10px; 
    border: 1px solid grey;
    margin-top: 20px; 

}
.price{
    font-size: 18px;
    text-decoration: line-through;
}
.price2{
    font-size: 18px;
    font-weight: 900;
    color: red;
}
.info-product button{
    background-color:orange;
    padding: 8px 8px;
}
button{
    margin-bottom: 13px;
}
.scroll-arrow,
.scroll-arrow1 {
    font-size: 40px;
}

.scroll-left {
    left: 5px;
    top: 50%;
}

.scroll-right {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:10px;
    padding: 35px;
}
.pie-pagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
}
.pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    padding-left: 10px;

}
.pie-pagina .grupo1 .red-social a{
    text-decoration: none;
    width: 55px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #0d2033;
    text-align: center;

}
button.prev,
button.next {
  position: absolute;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  z-index: 1;
}

button.prev {
    left: 0; 
}

button.next {
  right: 0;
}